<!doctype html>
	<html>
		<head>
			<title> Analysing Cluster Spreading</title>
		{% include "scripts.html" %}

		<style>
	   html, body {
	     height:100%;
	     margin: 0;
	     padding: 0;
	   }
	   #map {
	     width: 100%;
	     height: 400px;
	   }
	   </style>

		</head>
		<body>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand" href="http://comhis.fi/clusters" style="padding-left:50px;padding-right:24px">{{page_info.application_name}}</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="{{page_info.home}}">Home</a></li>
						<li><a href="{{page_info.hit_freq}}">Hit Frequency</a></li>
						<li><a href="{{page_info.cluster_info}}">Cluster Info</a></li>
						<li><a href="{{page_info.cluster_spread}}">Cluster Spread</a></li>
						<li class="active"><a href="{{page_info.single_cluster_spread}}">Single Cluster Spread</a></li>

					</ul>
				</div>
			</nav>

			<div class="container-fluid" style="margin-left:10px;margin-right:10px">
				<div class="row">
					<div class="col-sm-2">
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								Linkage style
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" id="dropdown-origin">Origin to Others</a></li>
								<li><a href="#" id="dropdown-others">Others to Others</a></li>
							</ul>
						</div>
					</div>
				</div>
				<br />
					<div id="map">
					</div>
			</div>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACAQdXczE5YOsmvsEBn0hSv0Tl0SM3n7o&libraries=geometry">
			</script>

	<script>
		function generateNewUrl() {
			base = "{{ page_info.single_cluster_spread_data | safe }}"
			base += "&style=" + style;
			return base
		}

		function generateMap() {
			map = new google.maps.Map(document.getElementById("map"), {
				zoom: 5,
				center: {lat:60, lng:25},
				mapTypeId: "terrain"
			});
			var counts = {}
			var latlng = {}
			var curr_data = data
			drawLines(curr_data)
		}

		function drawLines(curr_data) {
			var locs = []
			for(hit in curr_data) {
				hit = curr_data[hit]
				start_loc = new google.maps.LatLng(hit["start_lat"], hit["start_lng"])
				end_loc = new google.maps.LatLng(hit["end_lat"], hit["end_lng"])
				locs.push([start_loc, end_loc])
			}
			beginDrawing(locs)
		}

		function beginDrawing(locs) {
			var lines = []
			var step = 0;
			var numSteps = 2*100;
			var timePerStep = 1;
			var curr_line = null
			var curr_departure = null;
			var curr_arrival = null;
			var curr_i = 0;

			var line_symbol = {
				path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
				scale: 2
			}

			var interval = setInterval(function() {
				  if(curr_i >= locs.length) {
						clearInterval(interval)
					}
					else {
						if(curr_line == null) {
							step = 0;
							curr_departure = locs[curr_i][0]
							curr_arrival = locs[curr_i][1]
							var new_line = new google.maps.Polyline({
								path: [curr_departure, curr_departure],
								icons: [{
									icon: line_symbol,
									offset: "100%"
								}],
								strokeColor: "#FF0000",
								strokeOpacity: 1,
								strokeWeight: 1,
								geodesic: true,
								map: map
							});
							lines.push(new_line)
							curr_line = new_line
							step += 1;
						}
						else {
							var curr_pos = google.maps.geometry.spherical.interpolate(curr_departure, curr_arrival, step/numSteps);
							step += 1;
							curr_line.setPath([curr_departure, curr_pos])
							if(step == numSteps) {
								curr_line = null;
								curr_i += 1;

							}
					}
				}
			}, timePerStep);
		}

		function getData() {
			url = generateNewUrl();
			$.getJSON(url, function(json_data) {
				data = json_data;
				generateMap();
			});
			}

		var map;
		var url;
		var data;
		var style = "origin_to_others"

		getData();

		$("#dropdown-origin").click(function(e) {
			style = "origin_to_others";
			getData();
		});

		$("#dropdown-others").click(function(e) {
			style = "others_to_others";
			getData();
		});

</script>
	</body>
</html>
