<!doctype html>
<html>

<head>
    <title>Credits</title>
    {% include "scripts.html" %}
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding-left:50px;padding-right:24px" href="http://comhis.fi/clusters">Text Reuse in Finnish Newspapers and Journals, 1771–​1910</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/clusters/info/about">About</a></li>
                <li class="active"><a href="/clusters/info/credits">Credits</a></li>
                <li><a href="/clusters/info/cite">How to Cite</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <p style="font-size:15px">
            <br />
            <b>Developers of this search interface: </b>
            <br /> Aleksi Vesanto (avjves@utu.fi)
            <br /> Filip Ginter
            <br /> Hannu Salmi
            <br /> Asko Nivala
            <br /> Reetta Sippola
            <br /> Heli Rantala
            <br /> Petri Paju
            <br />
            <br /> The search interface is running a modified version of Blacklight.
            <br />
            <i>(https://github.com/projectblacklight/blacklight)</i>
            <br />
            <br /> The backend searching and querying is done by Solr.
            <br />
            <i>(http://lucene.apache.org/solr/)</i>
						<br />
						<br />
Produced by the research consortium Computational History and the Transformation of Public Discourse in Finland, 1640–1910, funded by the Academy of Finland, 2016–2019.
Special thanks to the data provider, The National Library of Finland.

    </div>

</body>

</html>
