<!doctype html>
<html>

<head>
    <title>How to Cite</title>
    {% include "scripts.html" %}
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding-left:50px;padding-right:24px" href="http://comhis.fi/clusters">Text Reuse in Finnish Newspapers and Journals, 1771–​1920</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/clusters/info/about">About</a></li>
                <li><a href="/clusters/info/credits">Credits</a></li>
                <li class="active"><a href="#">How to Cite</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <p>
            <b>Suggested citation: </b>
            <br />
            <br /> Aleksi Vesanto, Asko Nivala, Heli Rantala, Tapio Salakoski, Hannu Salmi & Filip Ginter, ’Applying BLAST to Text Reuse Detection in Finnish Newspapers and Journals, 1771–1910’, Proceedings of the 21st Nordic Conference of Computational Linguistics. Gothenburg, Sweden, 23–24 May 2017 (Linköping 2017), <a href="http://www.ep.liu.se/ecp/133/010/ecp17133010.pdf">http://www.ep.liu.se/ecp/133/010/ecp17133010.pdf</a>
            <br />
            <br />
            <br /> <b>For searches in the database: </b>
            <br />
            <br /> Aleksi Vesanto, Filip Ginter, Hannu Salmi, Asko Nivala, Reetta Sippola, Heli Rantala, Petri Paju: Text Reuse in Finnish Newspapers and Journals, 1771–1920, http://comhis.fi/clusters, accessed day-month-year.
            <br />

        </p>
    </div>
</body>

</html>
