<!doctype html>
	<html>
		<head>
			<title> Analysing Cluster / Query</title>
		{% include "scripts.html" %}

		
		</head>
		<body>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand" href="http://evex.utu.fi/fin_news">Finnish news</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="{{pageurls.home}}">Home</a></li>
						<li><a href="{{pageurls.hf}}">Hit Frequency</a></li>
						<li class="active"><a href="{{pageurls.cf}}">Cluster Frequency</a></li>
						<li><a href="{{pageurls.ci}}">Cluster Info</a></li>
					</ul>
				</div>
			</nav>

			<div class="container-fluid" style="margin-left:10px;margin-right:10px">

				<div class="row">
					<div class="row-sd-12">
						<div class="cluster_range">
							<div>
								<label id="clustCount"></label>
								<br />
							</div>
							<div >
								<label>Cluster start:</label>							
							</div>
							<div >
								<input class="form-control" type="number" value=0  id="cluster-start"/>
							</div>
							<div >
								<label>Cluster end:</label>							
							</div>
							<div >
								<input class="form-control" type="number" value=100 id="cluster-end"/>
							</div>
							<div >
	
							</div>
						</div>
					</div>	
				</div>
				<br />
				<div class="row">
					<div class="col-sm-1">
						<button class="btn btn-primary" type="button" id="setRangeButton">
									Set range
						</button>
					</div>
					<div class="col-sm-1">
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left:5px;">
								Time scale
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="margin-left:5px">
								<li><a href="#" id="dropdown-year">Year</a></li>
								<li><a href="#" id="dropdown-month">Month</a></li>
							</ul>
						</div>
					</div>
					<br />
					<br />
				</div>
				<div class="col-sm-12">
					<div id="chartdiv" height=1000>
					</div>
				</div>
				<div id="loading" class="spinner"/>
			</div>

	<script>
		var chart;
		function generateNewUrl() {
			base = "{{ pageurls.test_base | safe }}"
			base += "&cs=" + clusterStart + "&ce=" + clusterEnd + "&scale=" + currScale;
			return base
		}
		function generateChart(data) {
			$("#loading").attr("class", "");
			chart = Highcharts.stockChart("chartdiv", {
				chart: {
					type: "column",
					zoomType: "x"
				},
				legend: {
					enabled: false
				},
				plotOptions: {

					series: {
						stickyTracking: false,
						events: {
							click: function(e) {
								window.location.href="http://evex.utu.fi/fin_news/?f[cluster_id][]=" + this.name;
							}
						}
					}
				},
				tooltip: {
					snap:0,
					shared: false,
					crosshairs: false
				},
				series: data
			});
		}
		var clusterStart = 0;
		var clusterEnd = 100;
		var currScale = "year";
		url = generateNewUrl();
		$.getJSON(url, function(data) {
			generateChart(data)});
		
		$("#setRangeButton").click(function(e) {
			clusterStart = $("#cluster-start").val()
			clusterEnd = $("#cluster-end").val()
			$("#loading").attr("class", "spinner");
			url = generateNewUrl()
			$.getJSON(url, function(data) {
				//chart.series[0].setData(data, true, false, false);
				//chart.redraw();
				generateChart(data);
				});
		});
		$("#dropdown-year").click(function(e) {
			currScale = "year"
			$("#loading").attr("class", "spinner");
			url = generateNewUrl();
			$.getJSON(url, function(data) {
				generateChart(data);
			});});				
		$("#dropdown-month").click(function(e) {
			currScale = "month"
			$("#loading").attr("class", "spinner");
			url = generateNewUrl();
			$.getJSON(url, function(data) {

				generateChart(data);
			});});	
		
	</script>		


	</body>
	
</html>