<!doctype html>
	<html>
		<head>
			<title> Analysing Cluster / Query</title>
		{% include "scripts.html" %}
		</head>
		<body>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand" href="{{page_info.start}}" style="padding-left:50px;padding-right:24px">{{page_info.application_name}}</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="{{ page_info.hf }}">Hit Frequency</a></li>
						<li><a href="{{ page_info.cf }}">Cluster Frequency</a></li>
						<li><a href="{{ page_info.ci }}">Cluster Info</a></li>
					</ul>
				</div>
			</nav>

			<div class="container">
				<h1> Analysis page</h1>
				<h3>Here are multiple different graphs to analyze your previous query.</h3>
			</div>

			<script>
			var url = window.location.href;

			if (url.indexOf('#') == -1) {
			    url = url + '#';
			    location = '#';
			    location.reload(true);
			}

			</script>
		</body>
	</html>
