<!doctype html>
	<html>
		<head>
			<title> Analysing Cluster / Query</title>
		{% include "scripts.html" %}
		</head>
		<body>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand" href="http://evex.utu.fi/fin_news">Finnish news</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="{{ pageurls.hf }}">Hit Frequency</a></li>
						<li><a href="{{ pageurls.cf }}">Cluster Frequency</a></li>
						<li><a href="{{ pageurls.ci }}">Cluster Info</a></li>
					</ul>
				</div>
			</nav>

			<div class="container">
				<h1> Analysis page</h1>
				<h3>On this page there will be different functions to analyze a query / cluster.</h3>
			</div>
		</body>	
	</html>
