<!doctype html>
	<html>
		<head>
			<title> Analysing Cluster / Query</title>
			<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			<link href="https://bootswatch.com/spacelab/bootstrap.min.css" rel="stylesheet">
		</head>
		<body>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand" href="http://evex.utu.fi/fin_news">Finnish news</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="{{ pageurls.hf }}">Hit Frequency</a></li>
						<li><a href="{{ pageurls.cf }}">Cluster Frequency</a></li>
						<li><a href="{{ pageurls.ci }}">Cluster Info</a></li>
					</ul>
				</div>
			</nav>

			<div class="container">
				<h1> Analysis page</h1>
				<h3>On this page there will be different functions to analyze a query / cluster.</h3>
			</div>
		</body>	
	</html>
